*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
      font-size: 12px;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 25px;
}

h2 {
    text-align: center;
    font-size: 20px;
    color: #8F8FA3;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 8px;
}

/*formulário*/
#form {
    background-color: #E4ECE4;
    padding:  15px 30px;
    text-align: center;
    border: solid 2px #BBCFE1;
}

#form div {
    display: flex;
    padding: 5px 15px;;
    border: solid 2px #BBCFE1;
    border-radius: 10px;
    margin: 10px;
    background-color: #F4F4F4;
    color: #8F8FA3;
}

#form div label {
    font-size: 12px;;
}

#form div input {
    color: #232323;
    border: 0;
    background: transparent;
    width:100%;
    box-sizing: border-box;
}

#form div input:focus {
    outline: 0;
}

#form #salvar {
    margin-top: 10px;
    background-color: #BBCFE1;
    color: #fff;
    padding: 4px 10px;
    border: 0;
    border-radius: 6px;
}

/*lista de contato*/
#agenda {
    display: flex;
    flex-direction: column-reverse;
}

#agenda div {
    background-color: #F4E4E4;
    margin-top: 30px;
    border: solid 2px #E9B2B2;
}

.p-name {
    background-color: #E9B2B2;
    color: #fff;
    margin: -2px;
    padding: 8px 10px;
    margin-bottom: 12px;
}

.p-tel, .p-email {
    margin: 8px 10px;
    text-transform: lowercase;
    color: #4d4d4d;
}

.excluir {
    float:right;
    background-color: #D59591;
    padding: 0 5px;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.editar {
    float:right;
    margin: 8px;
    margin-top: -20px;
    padding: 2px 8px;
    border: solid 2px #D59591;
    color: #D59591;
    background-color: #F4F4F4;
    border-radius: 6px;
    font-size: small;
    cursor: pointer;
    font-size: 11px;
}

.coracao {
    color: #D59591;
}